<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Faturado Hoje
      </div>
      <div class="card-body">
        <p class="card-text">R$ {{ faturado_hoje|floatformat:2 }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Agendamentos hoje
      </div>
      <div class="card-body">
        <p class="card-text">{{ agendamentos_hoje }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Cancelamentos
      </div>
      <div class="card-body">
        <p class="card-text">{{ no_show_hoje }}</p>
      </div>
    </div>
  </div>
</div>

